<div class="pt-3 pl-3 pr-3">
    <div ng-bind="account"></div>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <a class="btn btn-outline-success" href="#!/home/user-profile/">User Profile</a>
          <a class="btn btn-outline-success" href="#!/home/qr-code/qr" ng-if="!isInstructor && !isAdmin">QR Code</a>
          <a class="btn btn-outline-success" href="#!/home/qr-code/excuse" ng-if="!isInstructor && !isAdmin">Excuse QR</a>
          <a class="btn btn-outline-success" href="#!/home/create-period" ng-if="isInstructor">Create Period</a>
          <a class="btn btn-outline-success" href="#!/home/admin" ng-if="isAdmin">Admin</a>
          <a ng-click="vm.logout()" class="btn btn-outline-danger">Logout</a>
        </form>
    </nav>
    <div ng-if="isInstructor" class="flex-container container"> 
      <my-period-card ng-repeat="period in named_periods" header="period.subject" subheader="period.year_level + ' - ' + period.section" my-link="'/home/attendance-sheet/'" id="period.id"></my-period-card>
    </div>
    <div ng-if="isAdmin" class="flex-container container">
      <my-period-card ng-repeat="year_level in year_levels" header="year_level.name" subheader="" my-link="'/home/sections/'" id="year_level.id"></my-period-card>
    </div>
    </div>
    <!-- <div>
        <button ng-click="vm.logout()" class="btn btn-danger">logout</button>
    </div> -->
</div>