<div class="pt-3 pl-3 pr-3">
    <div ng-bind="account"></div>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <a class="btn btn-outline-success" href="#!/home/user-profile/">User Profile</a>
          <a class="btn btn-outline-success" href="#!/home/qr-code/" ng-if="!isInstructor">QR Code</a>
          <a class="btn btn-outline-success" href="#!/home/qr-scanner/0" ng-if="isInstructor">QR Scanner</a>
        </form>
      </nav>
    <div>
        <button ng-click="vm.logout()" class="btn btn-danger">logout</button>
    </div>
</div>