<div class="card">
    <div class="card-header">
        Create Period
    </div>
    <div class="card-body">
        <div ng-show="post_errors" class="alert alert-danger">
            <p>{{post_errors | json}}</p>
        </div>
        <div ng-show="post_success" class="alert alert-success">
            <p>{{post_success}}</p>
        </div>
        <form name="periodForm" novalidate>
            <div>
                <label for="preiod__subject">Subject</label>
                <select name="period__subject" class="form-select" ng-model="period.subject"
                    ng-options="subject.id as subject.name for subject in subjects"
                    required>
                    <option value="">-- choose --</option>
                </select>
                <p ng-show="periodForm.period__subject.$touched && periodForm.period__subject.$invalid" class="alert alert-danger">
                    please select a subject
                </p>
            </div>
            <div>
                <label for="period__year_level">Year Level</label>
                <select name="period__year_level" class="form-select" ng-model="period.year_level"
                    ng-options="year_level.id as year_level.name for year_level in year_levels"
                    ng-change="year_select()"
                    required>
                    <option value="">-- choose --</option>
                </select>
            </div>
            <div>
                <label for="period__section">Section</label>
                <select class="form-select" 
                name="period__section"
                ng-model="period.section"
                ng-options="section.id as section.name for section in valid_sections"
                required>
                    <option value="">-- choose -- </option>
                </select>
            </div>
            <div>
                <!-- <input type="text" ng-model="period.test" required> -->
            </div>
            
            <div class="form-group row mt-3">
                <div class="col-sm-10">
                    <button  class="btn btn-primary" ng-click="submit()" ng-disabled="periodForm.$invalid || periodForm.$pending">Create Period</button>
                </div>
            </div>
        </form>
    </div>
</div>