<div class="card">
    <div class="card-header">
        <h5>QR Scanner : {{period_name}}</h5>
        <hr>
        <a class="btn btn-outline-success" href="#!/">Home</a>
    </div>
    <div class="card-body">
        <div id="video-container" class="d-flex justify-content-center mb-3" ng-show="show_video_div">
            <video id="qr-video" width="852" height="480"></video>
        </div>
        <!-- <p ng-if="qr_error">{{qr_error}}</p> -->
        <div ng-show="qr_error" class="alert alert-danger">
            {{qr_error}}
        </div>
        <div ng-if="show_prompt" class="alert alert-primary">
            <p>Does this QR code belong to <b>{{current_qr_name}}?</b></p>
            <button class="btn btn-info" ng-click="approve()">Yes</button>
            <button class="btn btn-light" ng-click="reject()">No</button>
        </div>
        <div ng-show="show_options">
            <button id="start-button" class="btn btn-success" ng-click="start()">Start</button>
            <button id="stop-button" class="btn btn-danger" ng-click="stop()">Stop</button>
            <hr>
        </div>

        <div class="alert alert-info" ng-show="show_student_list">
            <h4>Student to be Posted</h4>
            <ul>
                <p ng-repeat="name in scanned_names">- {{name}}</p>
            </ul>
            <button class="btn btn-primary" ng-click="post_attendance()">Post Attendance</button>
        </div>

        <div class="alert alert-success" ng-show="valid_records">
            <h4>Posted Successfully</h4>
            <ul>
                <p ng-repeat="valid_record in valid_records">+ {{valid_record}}</p>
            </ul>
        </div>

        <div class="alert alert-warning" ng-show="invalid_records">
            <h4>Post Failed</h4>
            <ul>
                <p ng-repeat="invalid_record in invalid_records">* {{invalid_record}}</p>
            </ul>
        </div>

        <div class="alert alert-danger" ng-show="post_error">
            {{post_error | json}}
        </div>
    </div>
</div>