<div class="card">
    <div class="card-header">
        <h5 class="card-title">Profile</h5>
    </div>
    <div ng-show="page_error" class="alert alert-danger">
        {{page_error | json}}
    </div>
    <div ng-if="show_pending_message" class="alert alert-info">
        <p>Your request is pending for approval. The request is approved if your role has been set to an Instructor.</p>
    </div>
    <script type="text/ng-template" id="error-messages">
        <div ng-message='pattern' class='text-danger'>Please enter a valid phone number</div>
        <div ng-message='required' class='text-danger'>This field is reuired</div>
        <div ng-message='minlength' class='text-danger'>Too short</div>
        <div ng-message='maxlength' class='text-danger'>Too long</div>
      </script>
    <div class="card-body">
        <div ng-show="error">{{error | json}}</div>
        <form name="userForm" novalidate>
            <div class="form-group row mb-2">
                <label for="user_profile__first_name" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="user_profile__first_name" placeholder="first name" 
                    ng-model="user.first_name" 
                    ng-minlength="3" ng-maxlength="30" 
                    required>
                    <div ng-messages="userForm.user_profile__first_name.$dirty && userForm.user_profile__first_name.$error">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </div>
            </div>
        
            <div class="form-group row mb-2">
                <label for="register__last_name" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="user_profile__last_name" placeholder="last name" 
                ng-model="user.last_name" 
                ng-minlength="3" ng-maxlength="30"
                required>
                <div ng-messages="userForm.user_profile__last_name.$dirty && userForm.user_profile__last_name.$error">
                    <div ng-messages-include="error-messages"></div>
                </div>
                </div>
            </div>
        
            <div class="form-group row mb-2">
                <label for="register__middle_name" class="col-sm-2 col-form-label" required>Middle Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="user_profile__middle_name" placeholder="middle name" 
                    ng-model="user.middle_name" 
                    ng-minlength="3" ng-maxlength="30"
                    required>
                    <div ng-messages="userForm.user_profile__middle_name.$dirty && userForm.user_profile__middle_name.$error">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </div>
            </div>
        
            <div class="form-group row mb-2">
                <label for="register__age" class="col-sm-2 col-form-label">Age</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="user_profile__age" placeholder="age" 
                    ng-model="user.age" 
                    required>
                    <div ng-messages="userForm.user_profile__age.$dirty && userForm.user_profile__age.$error">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </div>
            </div>
        
            <div class="form-group row mb-2">
                <label for="register__address" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" name="user_profile__address" placeholder="address" 
                    ng-model="user.address" 
                    ng-minlength="10" ng-maxlength="256"
                    required>
                    <div ng-messages="userForm.user_profile__address.$dirty && userForm.user_profile__address.$error">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </div>
            </div>
        
            <div class="form-group row mb-2">
                <label for="register__phone" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="user_profile__phone" placeholder="phone" 
                    ng-model="user.phone"
                    ng-pattern="/^\d{11}$/"
                    required>
                    <div ng-messages="userForm.user_profile__phone.$dirty && userForm.user_profile__phone.$error">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </div>
            </div>
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="user_profile__sex">Sex</label>
                <select class="form-select" 
                    name="register__sex" 
                    ng-model="user.SexChoices"
                    ng-options="sex_choice.id as sex_choice.name for sex_choice in sex_choices"
                    required>
                        <option value="">-- choose --</option>
                </select>
            </div>
            <div class="form-row align-items-center" ng-if="!isInstructor && !isAdmin && !show_pending_message">
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="user_profile__year_level">Year Level</label>
                    <select class="form-select" 
                    name="user_profile__year_level" 
                    ng-model="user.year_level" 
                    ng-change="year_select()"
                    required>
                        <!-- <option value="">-- choose --</option> -->
                    <!-- <option selected>Choose...</option> -->
                    <option ng-repeat="year_level in year_levels" value={{year_level.id}}>{{year_level.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row align-items-center" ng-if="!isInstructor && !isAdmin && !show_pending_message">
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="user_profile__section">Section</label>
                    <select class="form-select" name="user_profile__section" ng-model="user.section" ng-change="section_change()" ng-disabled="disable_section_selection">
                    <!-- <option selected>Choose...</option> -->
                    <option ng-repeat="section in valid_sections" value={{section.id}}>{{section.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button  class="btn btn-primary" ng-click="update_profile()" ng-disabled="userForm.$invalid">Update Profile</button>
                    <button class="btn btn-info " ng-if="show_request_instructorship" ng-click="requestInstructorship()">Request Instructorship</button>
                    <button class="btn btn-info " ng-if="show_request_head_teacher" ng-click="requestToBeHeadTeacher()">Request to be Head Teacher</button>
                </div>
            </div>
        </form>
    </div>
</div>