<div class="card">
    <div class="card-header">
        <h5 class="card-title">Registration</h5>
    </div>
    <div class="card-body">
        <div ng-show="error">{{error | json}}</div>
        <form name="registerForm" novalidate></form>
            <div class="form-group row mb-2">
                <label for="register__first_name" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="register__first_name" placeholder="first name" 
                ng-model="user.first_name" 
                required>
                </div>
            </div>
        
            <div class="form-group row mb-2">
                <label for="register__last_name" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="register__last_name" placeholder="last name" 
                ng-model="user.last_name" 
                required>
                </div>
            </div>
        
            <div class="form-group row mb-2">
                <label for="register__middle_name" class="col-sm-2 col-form-label" required>Middle Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="register__middle_name" placeholder="middle name" 
                ng-model="user.middle_name" 
                required>
                </div>
            </div>
        
            <div class="form-group row mb-2">
                <label for="register__age" class="col-sm-2 col-form-label">Age</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="register__age" placeholder="age" 
                ng-model="user.age" 
                required>
                </div>
            </div>
        
            <div class="form-group row mb-2">
                <label for="register__address" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="register__address" placeholder="address" 
                ng-model="user.address" 
                required>
                </div>
            </div>
        
            <div class="form-group row mb-2">
                <label for="register__phone" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="register__phone" placeholder="phone" 
                ng-model="user.phone"
                required>
                </div>
            </div>
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="register__sex">Sex</label>
                <select class="custom-select mr-sm-2" id="register__sex" ng-model="user.SexChoices">
                <!-- <option selected>Choose...</option> -->
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other</option>
                </select>
            </div>
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="register__year_level">Year Level</label>
                    <select class="custom-select mr-sm-2" id="register__year_level" ng-model="user.year_level" ng-change="year_select()">
                    <!-- <option selected>Choose...</option> -->
                    <option ng-repeat="year_level in year_levels" value={{year_level.id}}>{{year_level.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="register__section">Section</label>
                    <select class="custom-select mr-sm-2" id="register__section" ng-model="user.section" ng-change="section_change()" ng-disabled="disable_section_selection">
                    <!-- <option selected>Choose...</option> -->
                    <option ng-repeat="section in valid_sections" value={{section.id}}>{{section.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button  class="btn btn-primary" ng-click="update_profile()" ng-disabled="registerForm.$invalid">Update Profile</button>
                </div>
            </div>
        </form>
    </div>
</div>