<div class="pl-10 pl-10">
  <script type="text/ng-template" id="error-messages">
    <div ng-message='pattern' class='text-danger'>Please enter a valid phone number/LRN</div>
    <div ng-message='required' class='text-danger'>This field is required</div>
    <div ng-message='minlength' class='text-danger'>Too short</div>
    <div ng-message='maxlength' class='text-danger'>Too long</div>
  </script>
    <div class="card">
	    <div class="card-header">
	        <h5 class="card-title">Registration</h5>
	    </div>
        <div class="card-body">
          <div ng-show="page_error">{{page_error}}</div>
          <div ng-show="error" ng-bind="error" class="alert alert-danger">{{error | json}}</div>
          <div ng-show="message" ng-bind="message" class="alert alert-warn">{{message | json}}</div>
            <form name="registerForm" novalidate>
                <div class="form-group row mb-2">
                  <label for="register__email" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" name="register__email" placeholder="Email" 
                    ng-model="vm.email"
                    required>
                  </div>
                </div>
    
                <div class="form-group row mb-2">
                  <label for="register__password" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="register__password" placeholder="Password" 
                    ng-model="vm.password"
                    ng-minlength="12" ng-maxlength="30"
                    required>
                    <div ng-messages="registerForm.register__password.$dirty && registerForm.register__password.$error">
                      <div ng-messages-include="error-messages"></div>
                    </div>
                  </div>
                </div>
    
                <div class="form-group row mb-2">
                    <label for="register__confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" name="register__confirm_password" placeholder="Confirm Password"  
                      ng-model="vm.confirmPassword"
                      ng-minlength="12" ng-maxlength="30"
                      required>
                      <div ng-messages="registerForm.register__confirm_password.$dirty && registerForm.register__confirm_password.$error">
                        <div ng-messages-include="error-messages"></div>
                      </div>
                    </div>
                </div>
    
                <div class="form-group row mb-2">
                    <label for="register__first_name" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="register__first_name" placeholder="first name" 
                      ng-model="user.first_name" 
                      ng-minlength="3" ng-maxlength="30" 
                      required>
                      <div ng-messages="registerForm.register__first_name.$dirty && registerForm.register__first_name.$error">
                        <div ng-messages-include="error-messages"></div>
                      </div>
                    </div>
                </div>
    
                <div class="form-group row mb-2">
                    <label for="register__last_name" class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="register__last_name" placeholder="last name" 
                      ng-model="user.last_name" 
                      ng-minlength="3" ng-maxlength="30" 
                      required>
                      <div ng-messages="registerForm.register__last_name.$dirty && registerForm.register__last_name.$error">
                        <div ng-messages-include="error-messages"></div>
                      </div>
                    </div>
                </div>
    
                <div class="form-group row mb-2">
                    <label for="register__middle_name" class="col-sm-2 col-form-label" required>Middle Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="register__middle_name" placeholder="middle name" 
                      ng-model="user.middle_name" 
                      ng-minlength="3" ng-maxlength="30" 
                      required>
                      <div ng-messages="registerForm.register__middle_name.$dirty && registerForm.register__middle_name.$error">
                        <div ng-messages-include="error-messages"></div>
                      </div>
                    </div>
                </div>
    
                <div class="form-group row mb-2">
                    <label for="register__age" class="col-sm-2 col-form-label">Age</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" name="register__age" placeholder="age" 
                      ng-model="user.age" 
                      required>
                      <div ng-messages="registerForm.register__age.$dirty && registerForm.register__age.$error">
                        <div ng-messages-include="error-messages"></div>
                      </div>
                    </div>
                </div>
    
                <div class="form-group row mb-2">
                    <label for="register__address" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="register__address" placeholder="address" 
                      ng-model="user.address"
                      ng-minlength="10" ng-maxlength="256"  
                      required>
                      <div ng-messages="registerForm.register__address.$dirty && registerForm.register__address.$error">
                        <div ng-messages-include="error-messages"></div>
                      </div>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label for="register__phone" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="register__phone" placeholder="phone" 
                      ng-model="user.phone"
                      ng-pattern="/^\d{11}$/"
                       required>
                      <div ng-messages="registerForm.register__phone.$dirty && registerForm.register__phone.$error">
                        <div ng-messages-include="error-messages"></div>
                      </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                  <label for="register__lrn" class="col-sm-2 col-form-label">LRN</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="register__lrn" placeholder="LRN" 
                    ng-model="user.lrn"
                    ng-pattern="/^\d{12}$/"
                     required>
                    <div ng-messages="registerForm.register__lrn.$dirty && registerForm.register__lrn.$error">
                      <div ng-messages-include="error-messages"></div>
                    </div>
                  </div>
              </div>
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="register__sex">Sex</label>
                    <select class="form-select" 
                      name="register__sex" 
                      ng-model="user.sex"
                      ng-options="sex_choice.id as sex_choice.name for sex_choice in sex_choices"
                      required>
                        <option value="">-- choose --</option>
                    </select>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <label class="mr-sm-2" for="register__year_level">Year Level</label>
                        <select class="form-select" 
                          name="register__year_level" 
                          ng-model="user.year_level" 
                          ng-change="year_select()"
                          ng-options="year_level.id as year_level.name for year_level in year_levels"
                          required>
                            <option value="">-- choose --</option>
                        </select>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <label class="mr-sm-2" for="register__section">Section</label>
                        <select class="form-select" 
                          name="register__section" 
                          ng-model="user.section" 
                          ng-change="section_change()" 
                          ng-disabled="disable_section_selection"
                          ng-options="section.id as section.name for section in valid_sections"
                          required>
                            <option value="">-- choose --</option>
                          <!-- <option ng-repeat="section in valid_sections" value="{{section.id}}">{{section.name}}</option> -->
                        </select>
                    </div>
                </div>    
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-click="vm.register()" ng-disabled="registerForm.$invalid">Sign in</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>